
color-white2 = hsla(0,0%,100%,.8);
color-accent0 = #5F63B7;
color-accent1 = #17ead9;
color-accent2 = #0d12e8;
color-accent3 = #2196f3;
color-accent4 = #00d090;
color-accent5 = #ff4a82;
color-accent5-light = #ff729e;

color-white0 = #FFFFFF;
color-white1 = #f4f4ff;
color-dark0 = #333d47;
color-dark1 = #959aba;
color-dark2 = #5F63B7;
