mainFont = 'ProximaNova', 'Helvetica Neue', Helvetica, sans-serif;
mainFontBold = 'ProximaNova-bold', 'Helvetica Neue', Helvetica, sans-serif;
mainFontThin = 'ProximaNova-thin', 'Helvetica Neue', Helvetica, sans-serif;
mainFontBlack = 'ProximaNova-black', 'Helvetica Neue', Helvetica, sans-serif;
mainFontCondensed = 'ProximaNova-condensed', 'Helvetica Neue', Helvetica, sans-serif;
inputFont = 'Helvetica Neue', Helvetica, sans-serif;
